<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Classification</title>
    <link rel="icon" type="image/x-icon"  href="IconLogo.ico" />
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="test.css">
	<title>Classification</title>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs
/jquery/1.4.0/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
</head>
<body>
	<h1 class="text-primary" id="theme">Type 2 Diabetes Patients SubClassify Program<br><small>SVM Classification</small></h1>
	<img src="logo.png" class="img-responsive" alt="Responsive image">
	<h2>Paitent's Info</h2>

	<div class="row">
		<div class="col-md-3">
			<h3 class="bg-success">Basic Info</h3>
			<div class="form-group">
				<label for="HbA1c" class="control-label">HbA1c(%)</label>
				<input type="text" class="form-control" id="HbA1c" placeholder="HbA1c">
			</div>

			<div class="form-group">
				<label for="age" class="control-label">Age(year)</label>
				<input type="text" class="form-control" id="Age" placeholder="Age">
			</div>

			<div class="form-group">
				<label for="BMI" class="control-label">BMI(kg/m^2)</label>
				<input type="text" class="form-control" id="BMI" placeholder="BMI">
			</div>

			<div class="form-group">
				<label for="TG" class="control-label">TG(mmol/L)</label>
				<input type="text" class="form-control" id="TG" placeholder="TG">
			</div>
		</div>

		<div class="col-md-3">
			<h3 class="bg-info">Glucose levels</h3>
			<div class="form-group">
				<label for="GLU0" class="control-label">0 min Glucose(mmol/L)</label>
				<input type="text" class="form-control" id="GLU0" placeholder="0 min Glucose">
			</div>

			<div class="form-group">
				<label for="GLU30" class="control-label">30 min Glucose(mmol/L)</label>
				<input type="text" class="form-control" id="GLU30" placeholder="30 min Glucose">
			</div>

			<div class="form-group">
				<label for="GLU60" class="control-label">60 min Glucose(mmol/L)</label>
				<input type="text" class="form-control" id="GLU60" placeholder="60 min Glucose">
			</div>

			<div class="form-group">
				<label for="GLU120" class="control-label">120 min Glucose(mmol/L)</label>
				<input type="text" class="form-control" id="GLU120" placeholder="120 min Glucose">
			</div>
		</div>

		<div class="col-md-3">
			<h3 class="bg-warning">C-peptide levels</h3>
			<div class="form-group">
				<label for="CP0" class="control-label">0 min C-peptide(nmol/L)</label>
				<input type="text" class="form-control" id="CP0" placeholder="0 min C-peptide">
			</div>

			<div class="form-group">
				<label for="CP30" class="control-label">30 min C-peptide(nmol/L)</label>
				<input type="text" class="form-control" id="CP30" placeholder="30 min C-peptide">
			</div>

			<div class="form-group">
				<label for="CP60" class="control-label">60 min C-peptide(nmol/L)</label>
				<input type="text" class="form-control" id="CP60" placeholder="60 min C-peptide">
			</div>

			<div class="form-group">
				<label for="CP120" class="control-label">120 min C-peptide(nmol/L)</label>
				<input type="text" class="form-control" id="CP120" placeholder="120 min C-peptide">
			</div>
		</div>

		<div class="col-md-3">
			<h3 class="bg-danger">Insulin levels</h3>
			<div class="form-group">
				<label for="INS0" class="control-label">0 min Insulin(pmol/L)</label>
				<input type="text" class="form-control" id="INS0" placeholder="0 min Insulin">
			</div>

			<div class="form-group">
				<label for="INS30" class="control-label">30 min Insulin(pmol/L)</label>
				<input type="text" class="form-control" id="INS30" placeholder="30 min Insulin">
			</div>

			<div class="form-group">
				<label for="INS60" class="control-label">60 min Insulin(pmol/L)</label>
				<input type="text" class="form-control" id="INS60" placeholder="60 min Insulin">
			</div>

			<div class="form-group">
				<label for="INS120" class="control-label">120 min Insulin(pmol/L)</label>
				<input type="text" class="form-control" id="INS120" placeholder="120 min Insulin">
			</div>		
		</div>
		<button type="button" class="btn btn-primary center-block" onclick="submit()">SUBMIT</button>
	</div>

		<br><br><br><br>
	<h1 id="h1" hidden="hidden">start uploading file.......</h1>
	<h1 id="h2" hidden="hidden">successfully uploaded file !</h1>
	<br>
	<h1 id="h3" hidden="hidden">start running.......</h1>
	<a href="/download/"><h1 id="h4" hidden="hidden">running is over, please check the result !</h1></a>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script type="application/javascript">
    var folder_path;
    var outputName;
    function upload_file() {
        var form_data = new FormData();
        var files=$('#file')[0].files;
        if (files == undefined) {
            alert("No file has been selected !");
            return false;
        }
        console.log(files.length);
        for (var i=0;i<files.length;++i){
            form_data.append(i, files[i]);
        }
        //send ajax request of file upload
        $('#h1').show();
        $.ajax({
            url: '/upload_file/',
            type: 'POST',
            data: form_data,
            processData: false,
            contentType: false,
            success: function (return_data) {
                if (return_data != 1) {
                    folder_path = return_data;
                    alert(folder_path);
                    $('#h2').show();
                    //alert("file has been uploaded");
                }else {
                    alert("fail to upload file !")
                }
            }
        });
    }
    function submit() {
        //submit_job
        var HbA1c = $('#HbA1c')[0].value;
        var Age = $('#Age')[0].value;
        var BMI = $('#BMI')[0].value;
		var TG = $('#TG')[0].value;
		var GLU = $('#GLU')[0].value;
		var GLU30 = $('#GLU30')[0].value;
		var GLU60 = $('#GLU60')[0].value;
		var GLU120 = $('#GLU120')[0].value;
		var CP = $('#CP')[0].value;
		var CP30 = $('#CP30')[0].value;
		var CP60 = $('#CP60')[0].value;
		var CP120 = $('#CP120')[0].value;
		var INS = $('#INS')[0].value;
		var INS30 = $('#INS30')[0].value;
		var INS60 = $('#INS60')[0].value;
		var INS120 = $('#INS120')[0].value;

        var params = {
            'HbA1c': HbA1c,
            'Age': Age,
            'BMI': BMI,
			'TG': TG,
			'GLU': GLU,
			'GLU30': GLU30,
			'GLU60': GLU60,
            'GLU120': GLU120
            'CP': CP,
			'CP30': CP30,
			'CP60': CP60,
            'CP120': CP120
			'INS': INS,
			'INS30': INS30,
			'INS60': INS60,
            'INS120': INS120

        };
        $('#h3').show();
        $('#h4').hide();
        $.ajax({
            url: '/submit_job/',
            type: 'POST',
            data: params,
            dataType: 'json',
            success: function (return_data) {
                if (return_data == 0) {
                    alert("job finished !");
                    $('#h4').show();
                } else {
                    alert("error occurred");
                }
            }
        });
    }
</script>
</body>
</html>
